<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Word Frequency</title>
  </head>
  <body>
    <div class="container">
      <h1>Word Frequency</h1>
      <form action="/results">
        <div class="form-group">
          <label for="word">Enter a word to search for:</label>
          <input type="text" name="word">
        </div>
        <div class="form-group">
          <label for="sentence">Enter a sentence to cypher through:</label>
          <input type="text" name="sentence">
        </div>
        <button type="submit" class="btn-success">Enter</button>
      </form>
    </div>
  </body>
</html>
